$Blue_color: #42A9ED;
$Light_blue_color: #3E9CDC;
$White_color: #ffffff;
$Navy_color: #3D4050;
$Dark_blue_color: #3A3C4C;
$Dark_blue2_color: #272733;
$Border_blue: #286690;
$Form_elements_bg: #DFDFE0;
$Footer_gray_color: #C3C3C3;
$Btn_hover: #6cb4e4;
$Btn_active: #2487c8;
$Btn_white-text_color: #2A2B30;
$Btn_white-border_color: #6F6D7B;
$Btn_white_hover: #eeeeee;
$Btn_white_active: #d3d3d3;

@import 'fonts/index';
@import 'header/index';
@import 'footer/index';
@import 'form/index';
@import 'select/index';
@import 'button/index';
@import 'scroll/index';
@import 'inputs/index';
@import 'orderList/index';

body {
  font-family: 'Lato';
  font-weight: normal;
  font-style: normal;
  -ms-overflow-style: none;
}
.section-main {
  background: url("../images/mainbg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &__content {
    width: 100%;
    max-width: 1202px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    padding-top: 190px;
    padding-bottom: 200px;
    box-sizing: border-box;
    @media (max-width: 992px) {
      padding-top: 130px;
      padding-bottom: 120px;
    }
    @media (max-width: 767px) {
      padding-top: 90px;
      padding-bottom: 70px;
    }
    @media (max-width: 500px) {
      padding-bottom: 50px;
    }
  }

  &__title {
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
    max-width: 780px;
    margin-bottom: 80px;
    @media (max-width: 992px) {
      font-size: 38px;
      max-width: calc(100% - 30px);
      margin-bottom: 50px;
      br {
        display: none;
      }
    }
    @media (max-width: 767px) {
      font-size: 30px;
      margin-bottom: 30px;
      margin-top: 0px;
    }

    &_blue {
      color: $Blue_color;
    }
  }
}
.text-list {
  @media (max-width: 992px) {
    width: 100%;
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 10px 0;
    @media (max-width: 992px) {
      font-size: 16px;
    }
  }

  ul {
    padding: 0;
    margin: 0 auto 75px auto;
    @media (max-width: 992px) {
      margin-bottom: 30px;
    }
  }

  &__item {
    font-size: 20px;
    font-weight: normal;
    list-style-type: none;
    margin-bottom: 5px;
    @media (max-width: 992px) {
      font-size: 16px;
    }
  }

  &__item:before {
    content: "-";
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
  }
}
.section-main__btns {
  display: flex;
  @media (max-width: 500px) {
    flex-direction: column;
  }

  .btn:first-child {
    margin-right: 30px;
    @media (max-width: 500px) {
      margin-right: 0px;
      margin-bottom: 10px;
    }
  }
}
.section-order {
  background-color: $Dark_blue2_color;
  background-image: url('../images/orderbg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;

  &__content {
    width: 100%;
    max-width: 1202px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 150px;
    @media (max-width: 992px) {
      padding-top: 80px;
      padding-bottom: 60px;
    }
    @media (max-width: 767px) {
      padding-top: 50px;
    }
  }

  &__title {
    margin: 0;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    color: $White_color;
    margin-bottom: 30px;
    @media (max-width: 767px) {
      font-size: 28px;
      margin-bottom: 10px;
    }

    &_blue {
      color: $Blue_color;
    }
  }

  &__text {
    font-size: 18px;
    color: #BBBBBB;
    text-align: center;
    margin: 0 auto 80px auto;
    @media (max-width: 992px) {
      margin-bottom: 40px;
    }
    @media (max-width: 767px) {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
}





