.btn {
  background: $Blue_color;
  border: 1px solid $White_color;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $White_color;
  text-transform: uppercase;
  height: 43px;
  width: 183px;
  cursor: pointer;
  transition: 0.3s;
  font-size: 13px;
  @media (max-width: 500px) {
    width: 100%;
  }

  &_orderForm {
    max-width: 370px;
    width: 100%;
    height: 48px;
    @media (max-width: 1210px) {
      max-width: 300px;
      width: 300px;
    }
    @media (max-width: 992px) {
      max-width: 100%;
      width: 100%;
    }
  }

  &:hover {
    background-color: $Btn_hover;
  }

  &:active {
    background-color: $Btn_active;
  }

  &_white {
    background-color: $White_color;
    border-color: $Btn_white-border_color;
    color: $Btn_white-text_color;

    &:hover {
      background-color: $Btn_white_hover;
    }

    &:active {
      background-color: $Btn_white_active;
    }
  }
}
